{% extends "layout.html" %}

{% block title %}
Christchurch Hospital - Surgeons' Portal
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header">
                    <h2>Add new user:</h2>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="post">
                        <div class="form-group col-md-4">
                            <label for="username" class="form-label">Username:</label>
                            <input autocomplete="off" autofocus type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="confirm_password" class="form-label">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="first_name" class="form-label">First Name:</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last_name" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surgeon_id" class="form-label">Surgeon ID:</label>
                            <input type="text" class="form-control" id="surgeon_id" name="surgeon_id">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gender" class="form-label">Gender:</label>
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="">Select</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="date_of_birth" class="form-label">Date of Birth:</label>
                            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="specialty" class="form-label">Specialty:</label>
                            <input type="text" class="form-control" id="specialty" name="specialty">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contact_info" class="form-label">Contact Info:</label>
                            <input placeholder="Enter contact info: phone number or email" type="text" class="form-control" id="contact_info" name="contact_info" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add Surgeon</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}