{% extends "layout.html" %}

{% block title %}
Christchurch Hospital - Admin Login Portal
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col">
        <div class="col-md-6 mb-4 mt-5">
            <h2>Admin Portal</h2>
            <p>Access your administrative tools and manage surgeons.</p>
        </div>
        <div class="col-md-6 mb-4">
            <form action="/admin_login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>

{% endblock %}