{% extends "layout.html" %}

{% block title %}Surgeons' list{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Specialty</th>
                    <th>Contact Info</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for surgeon in surgeons %}
                <tr>
                    <td>{{ surgeon.username }}</td>
                    <td>{{ surgeon.id }}</td>
                    <td>{{ surgeon.first_name }}</td>
                    <td>{{ surgeon.last_name }}</td>
                    <td>{{ surgeon.gender }}</td>
                    <td>{{ surgeon.date_of_birth }}</td>
                    <td>{{ surgeon.specialty }}</td>
                    <td>{{ surgeon.contact_info }}</td>
                    <td>
                        <form action="/delete_surgeon/{{ surgeon.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this surgeon?');">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/add_surgeon" class="btn btn-success mb-4">Add New Surgeon</a>
    </div>
</div>
{% endblock %}